* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    font-weight: 300;
}

header {
    background-color: #4a90e2;
    color: #fff;
    padding: 12px;
}

header h1 {
    font-family: "Oswald", serif;
    font-weight: 400;
    padding: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 20px auto;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #4a90e2;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #357ABD;
    box-shadow: 0 0 5px rgba(53, 122, 189, 0.5);
}

button, .button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #4a90e2;
    font-family: "Raleway", serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
    cursor: pointer;
    width: 100px;
    margin: 20px auto 0;
    border-radius: 5px;
    border: none;
}

.button:hover {
    background-color: #357ABD;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

table {
    width: 100%;
    max-width: 760px;
    border-collapse: collapse;
    border: 1px solid #4a90e2;
}

th, td {
    padding: 12px;
    border: 1px solid #a0c4ff;
    text-align: left;
}

th {
    background-color: #a0c4ff;
    color: white;
    font-weight: bold;
}
